<div class="container pb-4">

  <div class="row mt-3 align-items-center border-bottom mb-3">
    <div class="col-3">
      <img width="60" src="/assets/logo.png" />
    </div>
    <div class="col-9">
      <h6 class="mb-0">Cardápio de <strong>Natal</strong></h6>
    </div>
  </div>

  <div class="items">

    <div class="categoria border-bottom mb-3" *ngFor="let categoria of categorias">
      <p class="font-weight-bold mb-1 text-1">{{categoria.categoria}}</p>
      <p class="text-3 text-muted">{{categoria.description}}</p>

      <div class="item pt-2 pb-2" *ngFor="let item of categoria.items">
        <div class="row">
          <div class="col-8">
            <p class="title text-3 mb-1">{{item.title}}</p>
            <p class="text-4">{{item.description}}</p>
            <p class="mb-0">
              <span class="text-success">R$ {{item.valor}}</span>
              <span class="text-black-50 text-4"><del> R$ {{item.valor * 1.15 | number:'1.0-0'}}</del></span>
              <span class="desconto  bg-success text-white text-5">-15%</span>  
            </p>
            <button class="p-0" (click)="openDialog(item, categoria.categoria)" mat-button>Peça Agora</button>
          </div>
          <div class="col-4">
            <img [src]="item.title | appImageSrc" class="img-fluid rounded ">
          </div>
        </div>
      </div>
    </div>



  </div>


  <router-outlet />